<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>CloudnCrafts offers insights from your data</h1>
		<p>(node:19024) [DEP0066] DeprecationWarning: OutgoingMessage.prototype._headers is deprecated
			(Use `node --trace-deprecation ...` to show where the warning was created)</p>
		
	</div>
</div>
	
</body>
</html>